/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*/ Reset */

/* Common */

body {
    color: #fff;
    background-color: #222222;
    font-family: "Montserrat";
}

ul {
    list-style-type: none;
}

/*/ Common */